PORT=3001
PYTHON_SERVICE_URL=http://localhost:8001
OPENAI_API_KEY=sk-your-key-here
OPENAI_MODEL=gpt-4.1-nano
TROLLLLM_API_KEY=sk-your-key-here
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=KLTN
JWT_SECRET=your-random-256-bit-hex-string
