/* QuestionPanel.scss */
.question-panel {
  flex: 1;
  padding: 16px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
  }

  .question-text {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    background: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    white-space: pre-wrap;
    font-family: "Roboto", sans-serif;
  }

  p {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
  }

  &__io {
    h3 {
      font-size: 18px;
      margin-bottom: 8px;
      color: #222;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 14px;
      border-radius: 8px;
      overflow: hidden; // để bo góc có hiệu lực với bảng

      th,
      td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f1f1f1;
        font-weight: 600;
      }

      pre {
        margin: 0;
        font-family: monospace;
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      tr:nth-child(even) {
        background-color: #fafafa;
      }
    }
  }
}
